@import "../../style/_variables";

.tab {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.35);
    transition: transform 0.12s ease-in-out,
            box-shadow 0.2s ease-in-out;
    
        &:hover {
            transform: scale(1.05);
            box-shadow: 0 8px 12px rgba(0, 0, 0, 0.35);
        }
    
        &:active {
            transform: scale(0.95);
        }
}

.customBtn {
    transition: transform 0.12s ease-in-out,
        box-shadow 0.2s ease-in-out;

    &:hover {
        transform: scale(1.07);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.35);
    }

    &:active {
        transform: scale(0.95);
    }
}

.formLabel {
    transition: box-shadow 0.2s ease-in-out;

    &:hover {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.35);
    }

    &:focus {
        outline: none !important;
        border: 2px solid map-get($theme-colors, "a-quaternary") !important;
    }
}

.paginationCustom {
    .page-link {
        background-color: map-get($theme-colors, "a-tertiary");
        color: map-get($theme-colors, "a-primary");
        border-color: map-get($theme-colors, "a-secondary");
    }

    &.active {
        .page-link {
            background-color: map-get($theme-colors, "a-secondary");
            color: map-get($theme-colors, "a-primary"); 
            border-color: map-get($theme-colors, "a-quaternary");
        }
    }
}

.customTubs {
    .nav-link {
        background-color: map-get($theme-colors, "a-tertiary");
            color: map-get($theme-colors, "a-primary");
            border-bottom: 5px solid map-get($theme-colors, "a-secondary");
        }
    
        .nav-link.active {
            background-color: map-get($theme-colors, "a-secondary");
                color: map-get($theme-colors, "a-primary");
                border-bottom: 5px solid map-get($theme-colors, "a-quaternary");
        }
}

.productBtn {
    transition: transform 0.12s ease-in-out;
    
        &:hover {
            transform: scale(1.15);
        }
    
        &:active {
            transform: scale(0.95);
        }
}