@import "../style/_variables.scss";

.checkoutTab {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.35);
}

.payBtn {
    transition: transform 0.12s ease-in-out,
            box-shadow 0.2s ease-in-out;
    
        &:hover {
            transform: scale(1.05);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.35);
        }
    
        &:active {
            transform: scale(0.95);
        }
}