@import "../style/_variables.scss";


.navLink:hover {
  transform: scale(1.10);
}

.active-link {
  border-bottom: 3px solid map-get($theme-colors, "a-primary");
}

.searchBtn:active {
  transform: scale(0.8);
}

.wishlist:hover, .cart:hover, .user:hover {
  transform: scale(1.15);
}

.person-dropdown {
  .dropdown-menu {
    background-color: map-get($theme-colors, "a-secondary");
    border: 2px solid map-get($theme-colors, "a-quaternary");

    .dropdown-item {
      color: map-get($theme-colors, "a-primary") !important;

      &:hover,
      &:focus {
        background-color: map-get($theme-colors, "a-tertiary");
        color: map-get($theme-colors, "a-white-gray") !important;
      }
    }
  }
}